.panel {
	padding:30px;
	background-color: #e6e6e6;
	margin-bottom: 30px;
}

#addButton {
	margin: 10px;
}

form {
	text-align: center;
}

button {
	margin-right: 10px;
	margin-bottom: 10px;
}

.spaceDude {
 	margin-bottom: 30px !important;
}

img {
	margin-bottom: 15px;
}

p {
	text-align: center;
}

